.quickball {
  position: fixed;

  right: 15px;

  bottom: 25px;

  width: 60px;

  height: 60px;

  display: flex;

  align-items: center;

  justify-content: center;

  border-radius: 50%;

  cursor: pointer;

  z-index: 999;

  font-size: 26px;

  color: #f8e8d0;

  background: radial-gradient(
    circle at top left,
    #8a002f,
    #5a001f,
    #2b000f
  );

  border: 2px solid #d4af37;

  box-shadow:
    0 0 12px rgba(212, 175, 55, 0.5),
    0 0 25px rgba(59, 0, 21, 0.8);

  transition: all 0.3s ease-in-out;

  animation:
    float 2.8s ease-in-out infinite,
    glowPulse 2s ease-in-out infinite;
}

.quickball:hover {
  transform: scale(1.15);

  box-shadow:
    0 0 20px rgba(212, 175, 55, 0.8),
    0 0 35px rgba(212, 175, 55, 0.6);
}

.quickball:active {
  transform: scale(0.95);
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-8px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes glowPulse {
  0% {
    box-shadow:
      0 0 10px rgba(212, 175, 55, 0.5),
      0 0 20px rgba(212, 175, 55, 0.3);
  }

  50% {
    box-shadow:
      0 0 20px rgba(212, 175, 55, 0.9),
      0 0 40px rgba(212, 175, 55, 0.6);
  }

  100% {
    box-shadow:
      0 0 10px rgba(212, 175, 55, 0.5),
      0 0 20px rgba(212, 175, 55, 0.3);
  }
}